@import url(../../vendor/normalize.scss);
@import url(../../vendor/fonts/LiterataTT/literatatt.css);

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f1f1;
  min-height: 100vh;
  font-family: 'Literatt', sans-serif;
}
