$month-margin: 10vw;

.month {
  width: 100%;
  min-width: 860px;
  //height: calc(100vh - 100px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  border: 1px solid goldenrod;
  background-image: url('../../images/Month/month-background.jpg');
  background-size: cover;

  .month__side-decoration {
    width: 100px;
    background-image: url('../../images/Month/month-side-decoration.png');
    background-repeat: repeat-y;
    background-size: contain;
    align-self: stretch;
    background-position: top 5px;
  }

  .month__side-decoration_rigth {
    margin-right: 8px;
  }

  .month__side-decoration_left {
    margin-left: 8px;
  }

  .month__day-list-container {
    margin: 0 10px;
    padding: 0 25px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid goldenrod;
    border-left: 2px solid goldenrod;
  }

  .month__year-container {
    display: flex;
    align-items: center;

    .month__year {
      margin: 0;
      margin-top: 10px;
      font-size: 15px;
      line-height: 1;
      height: 15px;
      color: goldenrod;
      display: block;
      min-width: 50px;
      text-align: center;
      font-style: italic;
      font-weight: 500;
    }

    .month__changeYearBtn {
      font-size: 15px;
      color: goldenrod;
      background-color: transparent;
      border: none;
      height: 15px;
      align-items: center;
      cursor: pointer;
      font-style: italic;
      font-weight: 500;
      padding: 0;
    }
  }

  .month__header-container {
    display: flex;
    align-items: center;

    .month__header {
      margin: 0;
      margin-bottom: 10px;
      font-size: 40px;
      line-height: 1;
      height: 40px;
      color: goldenrod;
      display: block;
      min-width: 200px;
      text-align: center;
      font-style: italic;
      font-weight: 400;
      caret-color: transparent;
    }

    .month__changeMonthBtn {
      font-size: 40px;
      color: goldenrod;
      background-color: transparent;
      border: none;
      height: 50px;
      align-items: center;
      cursor: pointer;
      font-style: italic;
      font-weight: 400;
      padding: 0;
    }
  }

  .month__day-list {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 30px repeat(6, 1fr);
    gap: 5px;
    font-style: italic;
    font-weight: 400;

    .month__week-day {
      //border: 1px solid rgba(218, 165, 32, 0.8);
      //border-radius: 10%;
      border-right: 1px solid goldenrod;
      display: flex;
      justify-content: center;
      align-items: center;

      .month__week-day-name {
        font-size: 20px;
        color: goldenrod;
        opacity: 0.8;
      }

      &:first-child {
        border-left: 1px solid goldenrod;
      }
    }

    .month__day {
      position: relative;
      border: 1px solid goldenrod;
      border-radius: 10%;
      display: flex;

      .month__day-number {
        width: 30px;
        height: 30px;
        margin: 0;
        margin-left: 2px;
        margin-top: 2px;
        font-size: 20px;
        line-height: 1.5;
        text-align: center;
        color: goldenrod;
        opacity: 0.8;
      }

      .month__day-number_today {
        border: 2px solid goldenrod;
        border-radius: 50%;
      }

      .month__day-birthday-container {
        width: calc(100% - 34px);
        height: calc(100% - 8px);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1px;
        margin-top: 4px;
      }
    }
  }
}
